<header data-controller='header'>
  <nav class="items-center w-11/12 mx-auto">
    <div class="h-14 sm:h-20 hidden md:flex items-center justify-between text-sm">
      <div class="w-8/12 flex justify-start min-[950px]:justify-between ">
        <%= link_to root_path, class:"w-1/12 min-[950px]:w-2/12 flex items-center" do %>
          <svg class="h-8 w-full m-0 text-red-logo flex justify-start items-center">
            <%= render 'layouts/airbnb_icon' %>
          </svg>
        <% end %>
        <div class= "border border-gray-200 hover:shadow-md shadow-sm rounded-full h-12 flex justify-center items-center px-4 w-[352.2px] mr-2">
          <p class="ml-1 mr-auto font-medium" style="color: #222222">Anywhere</p>
          <span class="h-3/6 border border-gray-200"></span>
          <p class="mx-auto font-medium" style="color: #222222">Any week</p>
          <span class="h-3/6 border border-gray-200"></span>
          <p class="mx-auto font-normal" style="color: #717171">Add guests</p>
          <i class="fa-solid fa-magnifying-glass bg-red-logo rounded-full p-2 mr-0 text-white"></i>
        </div>
      </div>
      <div class="w-6/12 flex items-center justify-start min-[950px]:w-4/12 relative">
        <%= link_to 'Airbnb your home', root_path, class:"rounded-full px-3 py-2 font-medium hover:bg-gray-100 ml-auto" %>
        <i class="fa-solid fa-earth-americas fa-lg mx-3 px-3 py-5 rounded-full hover:bg-gray-100"></i>
        <div class="flex items-center px-3 py-2 border rounded-full hover:shadow-md" data-action="click->header#toggleDropDownMenu">
          <i class="fa-solid fa-bars mr-2" style="color: #222222; padding: 1px 3px;"></i>
          <i class="fa-solid fa-user rounded-full fa-2x bg-gray-600 text-white" style="padding: 1px 3px"></i>
        </div>

          <div
            class="hidden absolute top-14 right-0 z-10 mt-2 w-60 origin-top-right rounded-xl bg-white py-1 shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            data-header-target="openUserMenu"
            data-transition-enter="transition ease-out duration-100"
            data-transition-enter-start="transform opacity-0 scale-95"
            data-transition-enter-end="transform opacity-100 scale-100"
            data-transition-leave="transition ease-in duration-75"
            data-transition-leave-start="transform opacity-100 scale-100"
            data-transition-leave-end="transform opacity-0 scale-95"
          >
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Sign up</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Log in</a>
            <br>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Airbnb your home</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Host an experience</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Help</a>
          </div>
      </div>
    </div>
  </nav>
</header>
<%= render 'shared/modal' %>
